<div class="container">
    <h1 style="text-align: center; margin-top: 20px; margin-bottom: 20px;">Leaderboard</h1>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">Player</th>
                <th scope="col">Point</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>raihanalqadrie</td>
                <td>15</td>
            <tr>
                <th scope="row">2</th>
                <td>KOKpikiGANS</td>
                <td>12</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Chand.</td>
                <td>10</td>
            </tr>
        </tbody>
    </table>
</div>