<div class="container">
    <h1 style="text-align: center; margin-top: 20px; margin-bottom: 20px;">Tournament</h1>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Tournament</th>
                <th scope="col">Status</th>
                <th scope="col">Game</th>
                <th scope="col">Date</th>
                <th scope="col">Organizer</th>
                <th scope="col">Prize</th>
                <th scope="col">Bracket</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>SURVIVOR CUP S2</td>
                <td><span class="status badge badge-success">New</span></td>
                <td>Garena Free Fire</td>
                <td>12 Des 2021</td>
                <td>HYDRA24</td>
                <td>266.61 USD</td>
                <td>Battle Royale</td>
            <tr>
                <td>[LATAM SUR] Big Bang Series by Polygon: COD Mobile #1</td>
                <td><span class="status badge badge-info">Live</span></td>
                <td>Call of Duty: Mobile</td>
                <td>29 Okt 2021</td>
                <td>QUAN</td>
                <td>1000 USDC-P</td>
                <td>Single Elimination</td>
            </tr>
            <tr>
                <td>League Française Gods Unchained - Qualifying 2</td>
                <td><span class="status badge badge-light">Finished</span></td>
                <td>Gods Unchained</td>
                <td>28 Okt 2021</td>
                <td>Vlozkill</td>
                <td>0.001 USD</td>
                <td>Single Elimination</td>
            </tr>
        </tbody>
    </table>
</div>