<div class="container">
    <h1 style="text-align: center; margin-top: 50px; margin-bottom: 50px;">Explore Tournament</h1>

    <p>Want to view who is participate? <a routerLink="/profile">click this</a></p>

    <h2>Razer</h2>
    <p>Want to have mouse and keyboard gaming? are want to be a pro player someday?</p>
    <p><a href="https://www.razer.com/">Let's Join Us</a></p>

    <h2>Logitech</h2>
    <p>Nice gaming gear for a pro player, with feedback from our team, we create a ultimate gaming experience</p>
    <p><a href="https://www.logitech.com">Let's Join Us</a></p>

</div>